.home-header{
    padding: 1rem;
}

.section-intro{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url("logo-presentation.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
}

.padding-y{
    padding-top: 2rem;
    padding-bottom: 2rem;
}